[run]
branch = True
parallel = True
source =
    bandpy
omit =
    setup.py
    */__init__.py
    */info.py
    */env.py
    */agents.py
    */plotting.py
    */_loaders.py
    */tests/*

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == '__main__':
    except Exception
ignore_errors = True
